@import "partitions/variables";
@import "partitions/mixins";
body {
    background: url("../img/images.jpg") center center no-repeat;
    #root {
        background: $yellow;
        &.root {
            background: $red;
        }
    }
}