@import "partitions/variables";
@import "partitions/mixins";
body {
    background-color: $green;

    #root {
        background: $yellow;
        &.root {
            background: $red;
        }
    }
}